<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Food</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                </div>

                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if session.logged_in %}
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                    {% if session.is_restaurant %}
                    <a class="nav-item nav-link" href="/restaurant_profile">ManageProfile</a>
                    <a class="nav-item nav-link" href="/manageDish">ManageDish</a>
                    {% else %}
                    <a class="nav-item nav-link" href="/profile">ManageProfile</a>
                    {% endif %}

                    {% else %}
                    <a class="nav-item nav-link" href="/login">Login</a>
                    <a class="nav-item nav-link" href="/restaurant_login">Restaurant Login</a>
                    <a class="nav-item nav-link" href="/register">Register</a>
                    <a class="nav-item nav-link" href="/restaurant_register">Restaurant Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>