{% extends "layout.html" %}
{% block content %}


<!--{% for n in restaurant %}-->
<!-- Blog Post -->
<!--<div class="card mb-4">-->
<!--<div class="card-body">-->
<!--<h2 class="card-title">{{n['username']}}</h2>-->
<!--<p class="card-text">{{n['address']}}</p>-->
<!--<a href="blog_post/{{n['userid']}}" class="btn btn-primary">Order &rarr;</a>-->
<!--</div>-->
<!--</div>-->
<!--{% endfor %}-->

{% for n in restaurant %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2><a class="article-title" href="menu/{{n['userid']}}">{{n['username']}}</a></h2>
        </div>
        <p class="article-content">{{n['address']}}</p>
    </div>
</article>
{% endfor %}

{% endblock content %}
