<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Food</title>
</head>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};



</script>

<body>
{% include "/static/_navi.html" %}

{% include "/static/_messages.html" %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        {% if dishes %}
        <div class="col-md-4">
            <div class="content-section">

                <h3>Your Cart <a id="clear" class="btn btn-primary" type="submit">clear all</a></h3>

                <!--<p class='text-muted'>You can put any information here you'd like.-->
                <ul class="list-group" id="cart">
                    <!--<li><input id="clear" class="btn btn-primary" type="submit" value="clear all"></li>-->

                    <!--{% for dish in order %}-->
                    <!--<li>{{dish}}</li>-->
                    <!--{% endfor %}-->
                    <!--<li class="list-group-item list-group-item-light">Latest Posts</li>-->
                </ul>
                <!--todo-->
                <p id="total">Total: 0</p>
                <br/>
                <a class="btn btn-primary" href="/check_out">check out</a>
                <!--</p>-->
            </div>
        </div>
        {% endif %}
    </div>
</main>

<script type="text/javascript">
  $(function() {
    refresh();
    <!--alert(0);-->
    $('#clear').click(function () {
		$.post($SCRIPT_ROOT + '/clear_cart', function(data) {
		    refresh();
		});

	});
  });

  function refresh(){
    var ul = document.getElementById("cart");
    ul.innerHTML = '';
    <!--while (ul.firstChild) {-->
        <!--alert(ul.firstChild);-->
        <!--ul.removeChild(ul.firstChild);-->
    <!--}-->
    $.post($SCRIPT_ROOT + '/get_dish_in_cart', function(data) {
      <!--alert(data);-->
      if(data != ""){
        <!--alert(data.dishes);-->

        for(i in data.dishes){
            <!--alert(data[i][0]);-->
            <!--alert(data[i][1]);-->
          var li = document.createElement("li");
          li.appendChild(document.createTextNode(data.dishes[i][0]+"\t"+data.dishes[i][1]+"\t"+data.dishes[i][2]));
          ul.appendChild(li);
        }
        $('#total').text("total:" +  data.total);
      }
      <!--todo not logged in-->
    });
  }



</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
</body>
</html>
