{% extends "layout.html" %}
{% block content %}


<!--<head>-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 50;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}


/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}



</style>
<!--</head>-->
<body>


{% include "/static/_dishes.html" %}

<script type="text/javascript">
// Create a "close" button and append it to each list item
var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u002B");
  span.className = "close";
  span.appendChild(txt);
  span.onclick = function(){
    var div = this.parentElement;
    $.post($SCRIPT_ROOT + '/add_dish', {'restaurant': "{{restaurant}}", 'dish_id': div.id}, function(data) {
      refresh();
    });
    }
  myNodelist[i].appendChild(span);
}


// Add a "checked" symbol when clicking on a list item
var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);


</script>

</body>
{% endblock %}
